= form_for @inventory, inventory_path(@conn, :create), fn f ->
  .form-group
    = label f, :name, "Name"
    = text_input f, :name, autofocus: true


  %button(type="submit")= gettext("Create inventory")
- end
