@import "bourbon/app/assets/stylesheets/bourbon";

@mixin btn($color, $text-color: black) {
  background-color: tint($color, 80%);
  color: $text-color;
  text-decoration: none;

  &:hover {
    background-color: lighten($color, 0.6);
  }

  border: {
    radius: 3px;

    bottom: {
      style: none;
      color: $color;
      width: 1px;
    }
    left: {
      style: none;
      color: $color;
      width: 1px;
    }
    right: {
      style: none;
      color: $color;
      width: 1px;
    }
  }
}

button {
  @include btn(gray);

  padding: {
    bottom: 3px;
    left: 3px;
    right: 3px;
    top: 3px;
  }
}

.btn {
  @include btn(gray);

  padding: {
    bottom: 3px;
    left: 3px;
    right: 3px;
    top: 3px;
  }
}

.btn-big {
  @include btn(gray);

  padding: {
    bottom: 8px;
    left: 10px;
    right: 10px;
    top: 8px;
  }
}

.btn-ok {
  @include btn(lightgreen);
}
